@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter"!important;
}

.big-shadow {
  box-shadow: 4px 2px 1px 4px #9aabda49;
}

.text-shadow {
  text-shadow: 0 1px 0 #000000;
}

.text-white-75 {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, 0.75) !important;
}
.profile {
  /* Estilos para anchos de pantalla mayores o iguales a 768px */
  @media screen and (min-width: 768px) {
    width: 80%;
  }

  /* Estilos para anchos de pantalla menores a 768px */
  @media screen and (max-width: 767px) {
    width: 35%;
  }
}

.long-text {
  /* Estilos para anchos de pantalla mayores o iguales a 768px */
  @media screen and (min-width: 768px) {
    font-size: calc(1rem + 1vw) !important;
  }
  
  /* Estilos adicionales para anchos de pantalla mayores a 361px y menores o iguales a 767px */
  @media screen and (min-width: 361px) and (max-width: 767px) {
    font-size: calc(1rem + 0.7vw) !important;
  }

  /* Estilos adicionales para menores o iguales de 360px */
  @media screen and (max-width: 360px) {
    font-size: 1rem !important;
  }
}

.medium-text {
  /* Estilos para anchos de pantalla mayores o iguales a 768px */
  @media screen and (min-width: 768px) {
    font-size: calc(0.7rem + 1vw) !important;
  }
  
  /* Estilos adicionales para anchos de pantalla mayores a 361px y menores o iguales a 767px */
  @media screen and (min-width: 361px) and (max-width: 767px) {
    font-size: calc(0.7rem + 0.7vw) !important;
  }
  
  /* Estilos adicionales para menores o iguales de 360px */
  @media screen and (max-width: 360px) {
    font-size: 0.7rem !important;
  }
}

.small-text {
  /* Estilos para anchos de pantalla mayores o iguales a 768px */
  @media screen and (min-width: 768px) {
    font-size: calc(0.5rem + 1vw) !important;
  }
  
  /* Estilos adicionales para anchos de pantalla mayores a 361px y menores o iguales a 767px */
  @media screen and (min-width: 361px) and (max-width: 767px) {
    font-size: calc(0.5rem + 0.7vw) !important;
  }
  
  /* Estilos adicionales para menores o iguales de 360px */
  @media screen and (max-width: 360px) {
    font-size: 0.5rem !important;
  }
}


div .bg-section1{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div .bg-section2{
  background-color: #966f43fb;
}


